#map { 
  width: 77%;
  background-color: lightgreen 
}
#right-panel {  
    width: 22%; 
    background-color: lightseagreen; 
    float: right 
}

#header {
  height: 8vh; 
  width: 100%; 
  background-color: hsl(185, 93%, 50%); 
  text-align: center
}

.dashboard{  
  display: inline-block;
  margin-top: 10px;
  height: 83vh; 
}

body{
  font-family: "Roboto"; 
  background-color: hsl(197, 100%, 50%)
}

header{
  font-size: 3vh
}
footer{
  text-align: center; 
  font-size: 2vh}