#map { 
  width: 77%;
  background-color: lightgreen 
}
#right-panel {  
    width: 22%; 
    background-color: lightseagreen; 
    float: right ;
    overflow-y: scroll
}


.dashboard{  
  display: inline-block;
  margin-top: 10px;
  height: 83vh; 
}

body{
  font-family: "Roboto"; 
  background-color: hsl(197, 100%, 50%)
}


footer{
  text-align: center; 
  font-size: 2vh;
  
}