#map { 
  width: 80%;
  background-color: rgb(255, 255, 255) ;
  margin-left: 1%;
}
#right-panel {  
    width: 18%; 
    background-color: lightseagreen; 
    float: right ;
    overflow-y: scroll
}


.dashboard{  
  display: inline-block;
  margin-top: 10px;
  height: 83vh; 
}

body{
  font-family: "Roboto"; 
  background-color: white;
  
}

footer{
  text-align: center; 
  font-size: 2vh;
  margin-top: 2vh;
    
}
